
/* Default (XS: <576px) */

#testmode-header {
    display: none;
}

/* Tags */

body {
    /* Set font styles here  */
}

h1 {
    
}

h2 {
    
}

h3 {
    
}

h4 {
   
}

p {
   
}

body.hp h1 {
    
}

body.hp p {
    
}

/* Links  */

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

/* Buttons */

.btn-primary {
}

.btn-primary:hover {
}

.btn-primary.disabled {
}

/* Header */

header {

}

section#layout {
    margin: 0 0 60px;
    background: #ebebeb;
}

/* Footer  */

footer {
    padding: 30px;
    background-color: #ebebeb;
}

footer p.branding {
    font-size: .7rem;
}

/* Hero */
#hero {
    position:relative;
    margin:0 0 60px;
    padding: 60px;
    background: #ccc;
}

/* Add margin to stacked columns  */
.col,
.col-12 {
   margin-bottom: 30px;
}

/* FontAwesome icons  */

.fa-icon {
    margin-right: 10px;
    font-size: 2rem;
    color: #000;
}




/* Small screens (≥576px) ******************************************************************* */
@media (min-width: 576px) {
  /* placeholder  */
}


/* Medium screens (≥768px) ******************************************************************* */
@media (min-width: 768px) {
    /* placeholder  */
}


/* Large screens (≥992px) ******************************************************************* */
@media (min-width: 992px) {
  /* placeholder  */
}


/* Extra Large screens (≥1200px) ******************************************************************* */
@media (min-width: 1200px) {
  /* placeholder  */
}


/* XXL screens (≥1400px) */
@media (min-width: 1400px) {
  /* placeholder  */
}