
/* Default (XS: <576px) */

#testmode-header {
    display: none;
}

/* Tags */

body {
    /* Set font styles here  */
}

h1 {
    
}

h2 {
    
}

h3 {
    
}

h4 {
   
}

p {
   
}

body.hp h1 {
    
}

body.hp p {
    
}

/* Links  */

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

/* Buttons */

.btn-primary {
}

.btn-primary:hover {
}

.btn-primary.disabled {
}

/* Header */

header {

}

/* Footer  */

footer {

}

footer p.branding {
    font-size: .7rem;
}

/* Hero */
#hero {
    position:relative;
    margin:0 0 60px;
    padding: 60px;
    background: #ccc;
}

/* Add margin to stacked columns  */
.col,
.col-12 {
   margin-bottom: 30px;
}

/* FontAwesome icons  */

.fa-icon {
    margin-right: 10px;
    font-size: 2rem;
    color: #000;
}