/* ******* Utilities ******* */
.min-height-600 {
  min-height: 600px; }

.min-height-400 {
  min-height: 400px; }

.font-one {
  font-family: Inter, sans-serif; }

.font-two {
  font-family: Lexend Deca, sans-serif; }

.font-three {
  font-family: Roboto Mono, monospace; }

.font-four {
  font-family: Libre Baskerville, serif; }

.color-white {
  color: #fff; }

.bg-white {
  background-color: #fff; }

.btn.btn-primary.color-white {
  color: #fff; }

.btn.btn-primary.bg-white {
  background-color: #fff; }

.color-black {
  color: #03303b; }

.bg-black {
  background-color: #03303b; }

.btn.btn-primary.color-black {
  color: #03303b; }

.btn.btn-primary.bg-black {
  background-color: #03303b; }

.color-light-green {
  color: #00e0b6; }

.bg-light-green {
  background-color: #00e0b6; }

.btn.btn-primary.color-light-green {
  color: #00e0b6; }

.btn.btn-primary.bg-light-green {
  background-color: #00e0b6; }

.color-light-green-subtle {
  color: #00f0c2; }

.bg-light-green-subtle {
  background-color: #00f0c2; }

.btn.btn-primary.color-light-green-subtle {
  color: #00f0c2; }

.btn.btn-primary.bg-light-green-subtle {
  background-color: #00f0c2; }

.color-sky-blue {
  color: #0ac4f0; }

.bg-sky-blue {
  background-color: #0ac4f0; }

.btn.btn-primary.color-sky-blue {
  color: #0ac4f0; }

.btn.btn-primary.bg-sky-blue {
  background-color: #0ac4f0; }

.color-dark-blue {
  color: #08a1c4; }

.bg-dark-blue {
  background-color: #08a1c4; }

.btn.btn-primary.color-dark-blue {
  color: #08a1c4; }

.btn.btn-primary.bg-dark-blue {
  background-color: #08a1c4; }

.color-mid-green {
  color: #04b88c; }

.bg-mid-green {
  background-color: #04b88c; }

.btn.btn-primary.color-mid-green {
  color: #04b88c; }

.btn.btn-primary.bg-mid-green {
  background-color: #04b88c; }

.color-grey {
  color: #d5e0e3; }

.bg-grey {
  background-color: #d5e0e3; }

.btn.btn-primary.color-grey {
  color: #d5e0e3; }

.btn.btn-primary.bg-grey {
  background-color: #d5e0e3; }

.color-orange {
  color: #ed7b49; }

.bg-orange {
  background-color: #ed7b49; }

.btn.btn-primary.color-orange {
  color: #ed7b49; }

.btn.btn-primary.bg-orange {
  background-color: #ed7b49; }

.color-orange-dark {
  color: #ba4512; }

.bg-orange-dark {
  background-color: #ba4512; }

.btn.btn-primary.color-orange-dark {
  color: #ba4512; }

.btn.btn-primary.bg-orange-dark {
  background-color: #ba4512; }

.color-green-quiet {
  color: #f9fffe; }

.bg-green-quiet {
  background-color: #f9fffe; }

.btn.btn-primary.color-green-quiet {
  color: #f9fffe; }

.btn.btn-primary.bg-green-quiet {
  background-color: #f9fffe; }

.color-a11y-mid-green {
  color: #03a57d; }

.bg-a11y-mid-green {
  background-color: #03a57d; }

.btn.btn-primary.color-a11y-mid-green {
  color: #03a57d; }

.btn.btn-primary.bg-a11y-mid-green {
  background-color: #03a57d; }

.color-brand-dark-blue {
  color: #044959; }

.bg-brand-dark-blue {
  background-color: #044959; }

.btn.btn-primary.color-brand-dark-blue {
  color: #044959; }

.btn.btn-primary.bg-brand-dark-blue {
  background-color: #044959; }

.color-brand-dark-blue-subtle {
  color: #067089; }

.bg-brand-dark-blue-subtle {
  background-color: #067089; }

.btn.btn-primary.color-brand-dark-blue-subtle {
  color: #067089; }

.btn.btn-primary.bg-brand-dark-blue-subtle {
  background-color: #067089; }

.color-brand-teal {
  color: #27a3a1; }

.bg-brand-teal {
  background-color: #27a3a1; }

.btn.btn-primary.color-brand-teal {
  color: #27a3a1; }

.btn.btn-primary.bg-brand-teal {
  background-color: #27a3a1; }

.color-brand-brown {
  color: #766201; }

.bg-brand-brown {
  background-color: #766201; }

.btn.btn-primary.color-brand-brown {
  color: #766201; }

.btn.btn-primary.bg-brand-brown {
  background-color: #766201; }

.color-disabled {
  color: #c6c6c6; }

.bg-disabled {
  background-color: #c6c6c6; }

.btn.btn-primary.color-disabled {
  color: #c6c6c6; }

.btn.btn-primary.bg-disabled {
  background-color: #c6c6c6; }

.bg-blue_warehouse {
  background: url(/templates/cis/skins/2025/assets/images/sm/blue_warehouse.jpg) center center; }

.bg-blurred_grocery {
  background: url(/templates/cis/skins/2025/assets/images/sm/blurred_grocery.jpg) center center; }

.bg-charity_center {
  background: url(/templates/cis/skins/2025/assets/images/sm/charity-center.jpg) center center; }

.bg-cis_logo {
  background: url(/templates/cis/skins/2025/assets/images/sm/CIS_logo.png) center center; }

.bg-cis_warehouse {
  background: url(/templates/cis/skins/2025/assets/images/sm/CIS_Warehouse.png) center center; }

.bg-cis_warehouse_inside {
  background: url(/templates/cis/skins/2025/assets/images/sm/CIS_Warehouse_Inside.png) center center; }

.bg-couple_supermarket {
  background: url(/templates/cis/skins/2025/assets/images/sm/young-couple-supermarket.jpg) center center; }

.bg-defocused_supermarket {
  background: url(/templates/cis/skins/2025/assets/images/sm/defocused-supermarket.jpg) center center; }

.bg-family_with_child {
  background: url(/templates/cis/skins/2025/assets/images/lg/cheerful-young-family-with-child.jpg) center center; }

.bg-freepik_adjust {
  background: url(/templates/cis/skins/2025/assets/images/sm/freepik__adjust__6208.png) center center; }

.bg-frozen_vegetables {
  background: url(/templates/cis/skins/2025/assets/images/sm/frozen-vegetables-mix.jpg) center center; }

.bg-grains {
  background: url(/templates/cis/skins/2025/assets/images/sm/grains.jpg) center center; }

.bg-hero_light_blue {
  background: url(/templates/cis/skins/2025/assets/images/lg/Hero_Light_Blue.png) center center; }

.bg-modern_style {
  background: url(/templates/cis/skins/2025/assets/images/sm/style-is-modern.jpeg) center center; }

.bg-product_circle {
  background: url(/templates/cis/skins/2025/assets/images/sm/product_circle.png) center center; }

.bg-rf_canned_veg {
  background: url(/templates/cis/skins/2025/assets/images/sm/RF_Canned__veg.png) center center; }

.bg-sale_blurred {
  background: url(/templates/cis/skins/2025/assets/images/sm/Sale_blurred.png) center center; }

.bg-shaking_hands_storage {
  background: url(/templates/cis/skins/2025/assets/images/sm/shaking-hands-storage.jpg) center center; }

.bg-shipping_yard {
  background: url(/templates/cis/skins/2025/assets/images/sm/shipping_yard.jpg) center center; }

.bg-supermarket_discount {
  background: url(/templates/cis/skins/2025/assets/images/sm/supermarket-discount-sign.jpg) center center; }

.bg-swoosh {
  background: url(/templates/cis/skins/2025/assets/images/sm/Swoosh.png) center center; }

.bg-swoosh_2 {
  background: url(/templates/cis/skins/2025/assets/images/sm/Swoosh_2.png) center center; }

.bg-swoosh_solid {
  background: url(/templates/cis/skins/2025/assets/images/lg/swoosh_solid.png) center -100px; }

.bg-vegetables_cutting_board {
  background: url(/templates/cis/skins/2025/assets/images/sm/vegetables-cutting-board.jpg) center center; }

.bg-volunteer_food {
  background: url(/templates/cis/skins/2025/assets/images/sm/volunteer-essential-food.jpg) center center; }

.bg-volume_boxes {
  background: url(/templates/cis/skins/2025/assets/images/sm/close-up-volunteers-packing-food-boxes.jpg) center center; }

.bg-warehouse_view {
  background: url(/templates/cis/skins/2025/assets/images/lg/close-up-warehouse-view.jpg) center center; }

.bg-hero_1 {
  background: url(/templates/cis/skins/2025/assets/hero/Header%20Img%201.png) center center; }

.bg-hero_2 {
  background: url(/templates/cis/skins/2025/assets/hero/Header%20Img%202.png) center center; }

.bg-hero_3 {
  background: url(/templates/cis/skins/2025/assets/hero/Header%20Img%203.png) center center; }

.bg-hero_4 {
  background: url(/templates/cis/skins/2025/assets/hero/Header%20Img%204.png) center center; }

.bg-hero_5 {
  background: url(/templates/cis/skins/2025/assets/hero/Header%20Img%205.png) center center; }

/* ******* Typography ******* */
body {
  font-family: Inter, sans-serif;
  line-height: 1.6;
  color: #03303b; }

h1 {
  color: #03303b; }

h2 {
  margin: 0 0 20px;
  font-size: 2.2rem;
  font-weight: 700;
  color: #044959; }

h3 {
  margin: 0 0 20px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: #27a3a1; }

p {
  font-weight: 400; }

/* ******* Buttons ******* */
.btn.btn-primary,
.btn.btn-default {
  border: none;
  padding: 6px 20px 8px;
  border-radius: 999px;
  background: #00e0b6;
  color: #03303b;
  font-weight: 600; }
  .btn.btn-primary:hover,
  .btn.btn-default:hover {
    cursor: pointer;
    background: #00ad8d; }

.btn.btn-primary.disabled,
.btn.btn-default.disabled {
  color: #c6c6c6; }

/* ******* Links ******* */
a {
  color: #044959;
  text-decoration: none; }
  a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #022128; }

a:focus, button:focus, .nav-link:focus {
  outline: none;
  box-shadow: none; }

/* ******* Navbar ******* */
header .navbar {
  padding: 15px 30px;
  background: transparent !important; }

header .navbar a {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #044959;
  font-size: .9rem;
  font-weight: 300; }
  header .navbar a:hover {
    color: #ed7b49; }

header .navbar .navbar-brand {
  max-width: 220px; }

header .navbar ul li:last-of-type a {
  background-color: #ed7b49;
  color: #fff;
  border-radius: 999px;
  margin-top: 3px;
  padding: 3px 20px 4px !important; }

header .navbar .dropdown-toggle:focus {
  outline: none;
  box-shadow: none; }

/* ******* Layout ******* */
body {
  overflow-x: hidden; }

.no-pad {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.block-links a {
  display: block;
  margin: 30px 0;
  text-decoration: none; }
  .block-links a:hover {
    color: #d5e0e3; }

.bg-cover {
  background-size: cover !important; }

.spark .clear {
  display: none; }

.fa-icon {
  margin-right: 10px;
  font-size: 2rem;
  color: #000; }

.ruled-rows .row {
  padding-top: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ececec; }

.ruled-rows .row:first-of-type {
  padding-top: 0; }

.ruled-rows .row:last-of-type {
  border-bottom: none; }

.banner {
  margin: 70px 0;
  font-family: Libre Baskerville, serif;
  min-height: 300px; }

.banner h2 {
  margin: 30px; }

.banner h3 {
  margin: 30px;
  font-family: Inter, sans-serif; }

.banner p {
  margin: 15px 0 0;
  font-family: Libre Baskerville, serif;
  font-size: 3rem; }

#testmode-header {
  display: none; }

header .bg-cover {
  opacity: 0.9 !important; }

#topbar {
  padding: 10px 60px; }

#topbar p {
  margin: 0 !important;
  font-size: .75rem; }

#topbar a {
  display: inline-block;
  cursor: none;
  margin-left: 60px;
  color: #fff; }
  #topbar a:hover {
    color: #d5e0e3; }

footer {
  padding: 60px 60px 15px; }

footer p,
footer a {
  font-size: .8rem !important;
  color: #fff !important; }

footer ul.nav li {
  margin: 3px 0; }

footer ul.nav li a {
  padding: 3px !important;
  font-weight: 600; }

footer p.branding {
  margin: 30px 0 10px; }

footer p.branding,
footer p.branding a {
  font-size: .65rem !important; }

.feature-section {
  padding: 60px; }

.feature-content {
  padding: 70px; }

.feature-content h1 {
  font-size: 3.8em;
  font-weight: 600; }

.feature-content h2 {
  font-size: 4em; }

.feature-content h3 {
  margin: 0;
  font-size: 1.4em; }

#hero .floater {
  top: 220px;
  left: -10px;
  max-width: 340px; }

#section-2 h3 {
  font-size: 1.2rem; }

#section-2 p {
  margin: 5px 0;
  font-size: 1em;
  font-weight: 300; }

#section-2 a:hover h3,
#section-2 a:hover p {
  color: #d5e0e3; }

#section-2 a {
  display: block;
  cursor: pointer; }

#section-3 h2 {
  padding: 60px 30px; }

#section-3 .container-fluid {
  padding: 30px 0;
  background: #00e0b6;
  border-radius: 50px; }

#section-3 .card {
  padding: 25px;
  min-width: 400px;
  border: none;
  border-radius: 10px;
  scroll-snap-align: start; }

#section-3 .scroll-pad-end {
  min-width: 2.6rem; }

#section-3 .card .bg-cover {
  height: 300px;
  border-radius: 10px; }

#section-4 {
  border-bottom: 1px solid #f4f4f4; }

#section-4 h2 {
  margin: 0 30px 40px;
  font-size: 2.2rem; }

#section-4 .bg-modern_style {
  opacity: 0.04; }

#section-5 {
  border-bottom: 1px solid #f4f4f4; }

#section-5 h2 {
  margin: 0 30px 40px;
  font-size: 2.2rem; }

#section-6 h2 {
  font-size: 4rem; }

#job-posts .post {
  margin: 0 0 60px; }

#job-posts .post h3 {
  margin: 0 0 10px;
  font-size: 1.2rem;
  color: #044959; }

#job-posts .post p {
  font-size: 1rem; }

/*# sourceMappingURL=main.css.map */
