
/* ******* Buttons ******* */

.btn.btn-primary,
.btn.btn-default {
  border: none;
  padding: 6px 20px 8px;
  border-radius: 999px;
  background: map-get($theme_colors, light-green);
  color: map-get($theme_colors, black);
  font-weight: 600;

  &:hover {
    cursor: pointer;
    background: darken( map-get($theme_colors, light-green), 10%);
  }
}

.btn.btn-primary.disabled,
.btn.btn-default.disabled {
  color: map-get($theme_colors, disabled);
}
