/* Buttons */

.btn-primary {
  color: map-get($theme_colors, white);

  &:hover {
    color: darken( map-get($theme_colors, sky-blue), 10%);
  }
}

.btn-primary.disabled {
  color: map-get($theme_colors, disabled);
}
