
/* ******* Buttons ******* */

.btn.btn-primary,
.btn.btn-default {
  border: none;
  padding: 6px 20px 8px;
  border-radius: 999px;
  background: map-get($theme_colors, light-green);
  color: map-get($theme_colors, black);
  font-weight: 600;

  &:hover {
    cursor: pointer;
    background: darken( map-get($theme_colors, light-green), 10%);
  }
}

.btn.btn-primary.disabled,
.btn.btn-default.disabled {
  background: map-get($theme_colors, disabled);
  color: map-get($theme_colors, white);
  cursor:not-allowed;
}

.btn-arrow::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f061";
  font-weight: 900;
  margin-left: 0.5rem;
  vertical-align: middle;
}
