
/* ******* Forms ******* */

#form-wrapper {
    // margin: 45px 0;
}

form {
    margin-top: 25px;
}

textarea {
    min-height: 140px !important;
}

label {
    font-weight: 500;
}

form input,
form textarea,
form select {
    margin-bottom: 20px;
}

form input:focus,
form textarea:focus,
form select:focus {
  border: 1px solid map-get($theme-colors, dark-blue) !important;
  box-shadow: none !important;
  outline: none !important;
}

.validation-error {
    border: 1px solid red !important;
}