
/* ******* Layout - Medium screens (≥768px) ******* */

@media (min-width: 768px) {

    .vh-md-100 {
        height: 100vh !important;
    }


    .banner {
        margin: 70px 0;
        padding: 70px 30px 50px;
        min-height: 300px;
    }

        .banner.no-min-height {
            min-height: auto;
        }

        .banner h2 {
            margin: 20px 20px 30px;
            font-size: 4rem;
        }

        .banner p {
            font-size: 3rem;
        }

        

    .feature-section {
        padding: 60px;
    }

    .feature-content {
        padding: 70px;
    }

        .feature-content h1 {
            font-size:3.8rem;
        }

        .feature-content h2 {
            font-size:4rem;
        }

        .feature-content h3 {
            margin: 0;
            font-size:1.4rem;
        }

        .feature-content p {
            font-size: 1.2rem;
        }

     #hero {
        padding: 60px 18%;
    }

        #hero h1 {
            font-size: 4rem;
            margin: 0 0 2.5rem;
        }

        #hero p {
            font-size: 1.2rem;
            margin: 0 9rem 2.5rem;
        }

        #hero .floater {
            top: 220px;
            left: -10px;
            max-width: 340px;
        }


    #topbar {
        padding: 10px 60px;
    }
        
        #topbar a {
            margin-left: 60px;
        }



    footer {
        padding: 60px 60px 15px;
    }

    #section-6 h2 {
        font-size: 4rem;
    }

    #page-contact .ratio {
        max-width: 400px !important;
    }

}