
/* ******* Layout ******* */

// Fix for overflow x-scroll issue
#ignitr-wrapper {
    // overflow-x: hidden;
    // position: relative;
}

// .g-recaptcha div {
//     padding: 10px;
//     border: 1px solid red;
// }


.no-pad {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.block-links a {
    display: block;
    margin: 30px 0;
    text-decoration: none;
    
    &:hover {
        color: map-get($theme-colors, grey);
    }
}

.bg-cover {
    background-size: cover !important;
}


.spark .clear {
    display: none;
}

.fa-icon {
    margin-right: 10px;
    font-size: 2rem;
    color: #000;
}

.ruled-rows .row {
    padding-top: 60px;
    padding-bottom: 40px;
    border-bottom:1px solid #ececec;
}

    .ruled-rows .row:first-of-type {
        padding-top: 0;
    }


    .ruled-rows .row:last-of-type {
        border-bottom: none;
    }

.banner {
    padding: 30px 15px;
    margin: 30px 0;
    min-height: 240px;
    font-family: map-get($theme-fonts, four);
}

    .banner.no-min-height {
        min-height: auto;
    }

    .banner h2 {
        margin: 0 0 30px;
        font-size: 2rem;
    }

    .banner h3 {
        margin: 0 0 30px;
        font-family: map-get($theme-fonts, one);
    }

    .banner p {
        margin: 15px 0 0;
        font-family: map-get($theme-fonts, four);
        font-size: 1.4rem;
    }

// Test mode header 

#testmode-header {
    display: none;
}


// Header 

header {
    // placeholder
}

    header .bg-cover {
        opacity: 0.9 !important;
    }

#topbar {
    padding: 10px 15px;
}

    #topbar p {
        margin: 0 !important;
        font-size: .75rem;
    }

    #topbar a {
        display: inline-block;
        cursor:none;
        margin-left: 0;
        color: map-get($theme-colors, white);

        &:hover {
            color: map-get($theme-colors, grey);
        }
    }


#layout {
    // margin-top: 120px;
}

footer {
    padding: 60px 15px 15px;
}

    footer p,
    footer a {
        font-size: .8rem !important;
        color: map-get($theme-colors, white) !important;
    }

    footer ul.nav li {
        margin: 3px 0;
    }

    footer ul.nav li a {
        padding: 3px !important;
        font-weight: 600;
    }

    footer p.branding {
        margin: 30px 0 10px;
    }

    footer p.branding,
    footer p.branding a {
        font-size: .65rem !important;
    }


// Sections

.feature-section {
    padding: 15px;
}

    .feature-content {
        padding: 45px;
    }

    .feature-content h1 {
        font-size: 2rem;
        font-weight: 600;
    }

    .feature-content h2 {
        font-size: 1.8rem;
    }

    .feature-content h3 {
        margin: 0;
        font-size: 1.1rem;
    }

    .feature-content p {
        margin: 30px 0;
        font-size: .9rem;
        font-weight: 300;
    }

    .feature-bg {
        min-height: 240px;
    }

    #hero {
        padding: 15px;
    }

        #hero h1 {
            font-size: 1.8rem;
            margin: 0 0 2.5rem;
        }

        #hero p {
            font-size: 1rem;
            margin: 0 0 2.5rem;
        }

        #hero .floater {
            left: -2000px;
        }


#section-2 {
    // placeholder 
}

    #section-2 h3 {
        font-size: 1.2rem;
    }

    #section-2 p {
        margin: 5px 0;
        font-size: 1em;
        font-weight: 300;
    }

    #section-2 a:hover h3,
    #section-2 a:hover p {
        color: map-get($theme-colors, grey);
    }

    #section-2 a {
        display: block;
        cursor: pointer;
    }


#section-3 {
    // padding:60px 0 0;
}

    #section-3 h2 {
        padding: 60px 30px;
    }

    #section-3 .container-fluid {
        padding: 30px 0;
        background: map-get($theme-colors, light-green);
        border-radius: 50px;
    }

    #section-3 .card {
        padding: 25px;
        min-width: 400px;
        border: none;
        border-radius: 10px;
        scroll-snap-align: start;
    }

    #section-3 .scroll-pad-end {
        min-width: 2.6rem;
    }

    #section-3 .card .bg-cover {
        height: 300px;
        border-radius: 10px;
    }


#section-4 {
    border-bottom: 1px solid #f4f4f4;
}

    #section-4 h2 {
        font-size: 2.4rem;
    }
    
    #section-4 p.dates {
        font-size: 1em;
        font-weight: 700;
    }

    #section-4 p.abstract {
        font-size: .9rem;
    }


    #section-4 .bg-modern_style {
        opacity: 0.04;
    }


#section-5 {
    border-bottom: 1px solid #f4f4f4;
}

    #section-5 h2 {
        margin: 0 30px 40px;
        font-size: 2.2rem;
    }


#section-6 {
    // padding: 60px 0 !important;
}

    #section-6 h2 {
        font-size: 2rem;
    }


// Employment : Engine 21 

#job-posts {
    // placeholder 
}

    #job-posts .post {
        margin: 0 0 60px;
    }

    #job-posts .post h3 {
        margin: 0 0 10px;
        font-size: 1.2rem;
        color: map-get($theme-colors, brand-dark-blue);
    }

    #job-posts .post p {
        font-size: 1rem;
    }