
/* ******* Layout ******* */

.no-pad,
.no-pad .row,
.no-pad .col,
.no-pad p {
    padding: 0 !important;
}

.no-margin,
.no-margin .row,
.no-margin .col,
.no-margin p {
    margin: 0 !important;
}

.block-links a {
    display: block;
    margin: 30px 0;
    text-decoration: none;
    
    &:hover {
        color: map-get($theme-colors, grey);
    }
}

.bg-cover {
    background-size: cover !important;
}

.spark .clear {
    display: none;
}

.fa-icon {
    margin-right: 10px;
    font-size: 2rem;
    color: #000;
}

.feature-section {
    padding: 60px;
    min-height: 600px;
}

.feature-section h1,
.feature-section h2,
.feature-section p,
.feature-section a {
    font-family: map-get($theme-fonts, two);
    color: map-get($theme-colors, white);
}

.feature-section.no-pad .col {
    padding: 60px !important;
}


// Test mode header 

#testmode-header {
    display: none;
}


// Header 

header {
    // placeholder 
}

header .bg-cover {
    opacity: 0.9 !important;
}

#topbar {
    padding: 10px 60px;
}

#topbar p {
    font-size: .75rem;
}

#topbar a {
    display: inline-block;
    cursor:none;
    margin-left: 60px;
    color: map-get($theme-colors, white);

    &:hover {
        color: map-get($theme-colors, grey);
    }
}


// Sections

#hero .floater {
    top: 220px;
    left: -10px;
    max-width: 340px;
}


#section-3 .card {
    min-width: 440px;
    scroll-snap-align: start;
}

#section-3 .card .bg-cover {
    height: 300px;
    border-radius: 10px   ;
}