
/* ******* Links ******* */

a {
  color: map-get($theme-colors, brand-dark-blue);
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: darken( map-get($theme-colors, brand-dark-blue), 10%);
  }
}

a:focus, button:focus, .nav-link:focus {
  outline: none;
  box-shadow: none;
}

