
/* ******* Navbar - Medium screens (≥768px) ******* */

@media (min-width: 768px) {

    header .navbar {
        padding:15px 30px;
    }

    header .navbar .navbar-brand {
        max-width: 220px;
    }

    header .navbar ul li:last-of-type a {
        background-color: map-get($theme-colors, orange);
        color: map-get($theme-colors, white);
        border-radius: 999px;
        margin-top:3px;
        padding: 3px 20px 4px !important;
    }

}