
/* ******* Navbar ******* */

header .navbar {
    padding:15px 10px;
    background: transparent !important;
}

header .navbar a {
    display: block;
    margin: 0 0 0 20px;
    color: map-get($theme-colors, brand-dark-blue);
    font-size: 1.1rem;
    font-weight: 300;

    &:hover {
        color: map-get($theme-colors, orange);
    }
}

header .navbar .navbar-brand {
    max-width: 160px;
}

header .navbar .dropdown-toggle:focus {
    outline: none;
    box-shadow: none;
}

header .navbar-toggler {
    border: none;
    box-shadow: none;
}

header .navbar-collapse {
    margin-top: 15px;
}

