
/* ******* Typography ******* */

body {
  font-family: map-get($theme-fonts, one);
  line-height: 1.6;
  color: map-get($theme-colors, black);
}

h1 {
  color: map-get($theme-colors, black);
}

h2 {
  font-family: map-get($theme-fonts, two);
  color: map-get($theme-colors, mid-green);
}

h3 {
    
}

h4 {
   
}

p {
   
}

body.hp h1 {
    
}

body.hp p {
    
}