
// Fonts - use map to create classes
$theme-fonts: (
  one: unquote("Inter, sans-serif"),
  two: unquote("Lexend Deca, sans-serif"),
  three: unquote("Roboto Mono, monospace"),
  four: unquote("Libre Baskerville, serif")
);


@each $name, $value in $theme-fonts {
  .font-#{$name} {
    font-family: $value;
  }
}


// Colors - use map to create classes
$theme-colors: (
    // Core Palette
    white: #fff,
    black: #03303b,
    light-green: #00e0b6,
    light-green-subtle: #00f0c2,
    sky-blue: #0ac4f0,
    dark-blue: #08a1c4,
    mid-green: #04b88c,
    grey: #d5e0e3,
    orange: #ed7b49,
    orange-dark: #ba4512,
    green-quiet: #f9fffe,
    a11y-mid-green: #03a57d,

    // Brand Palette
    brand-dark-blue: #044959,
    brand-dark-blue-subtle: #067089,
    brand-teal: #27a3a1,
    brand-brown: #766201,

    // Utility
    disabled: #c6c6c6
);


// Loop: generate variables and utility classes
@each $name, $value in $theme_colors {

  // Text color utility
  .color-#{$name} {
    color: $value;
  }

  // Background color utility
  .bg-#{$name} {
    background-color: $value;
  }
}

// Background Images - use map to create classes
$bg-images: (
    one: url(/templates/cis/skins/2025/assets/images/Hero%20Light%20Blue.png) center center,
    two: url(/templates/cis/skins/2025/assets/images/cheerful-young-family-with-child.jpg) center center,
    three: url(/templates/cis/skins/2025/assets/images/close-up-warehouse-view.jpg) center center,
    four: url(/templates/cis/skins/2025/assets/images/volunteer-white-gloves-holds-cardboard-box-with-essential-food.jpg) center center,
    five: url(/templates/cis/skins/2025/assets/images/freepik__adjust__6208.png) center center,
    six: url(/templates/cis/skins/2025/assets/images/young-couple-choosing-goods-supermarket.jpg) center center
);

@each $name, $value in $bg-images {
  .bg-#{$name} {
    background: $value;
  }
}

